@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
 html,
 

 body {
     margin: 0;
     padding: 0;
     background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;
     box-sizing: border-box;
     font-family: "Quicksand", sans-serif;
     font-size: 62.5%;
     font-size: 10px;
     background-color: #262626;
     scroll-behavior: smooth;
 }
 /*-- Inspiration taken from abdo steif -->
 /* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
 /* Navbar section */
 .nav {
     width: 100%;
     height: 65px;
     position: fixed;
     line-height: 65px;
     text-align: center;
 }
 .nav div.logo {
     float: left;
     width: auto;
     height: auto;
     padding-left: 3rem;
 }
 .nav div.logo a {
     text-decoration: none;
     color: #fff;
     font-size: 2.5rem;
 }
 .nav div.logo a:hover {
     color: #03989E;
 }
 .nav div.main_list {
     height: 65px;
     float: right;
 }
 .nav div.main_list ul {
     width: 100%;
     height: 65px;
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
 }
 .nav div.main_list ul li {
     width: auto;
     height: 65px;
     padding: 0;
     padding-right: 3rem;
 }
 .nav div.main_list ul li a {
     text-decoration: none;
     color: #fff;
     line-height: 65px;
     font-size: 2.4rem;
 }
 .nav div.main_list ul li a:hover {
     color: #03989E;
 }
 /* Carousel slide */
h1 {
    color: white;
}

.movie-sliders h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 60px;
    font-style: oblique;
}

 .carousel {
    padding-right: 2%;
    
    position: center;
    padding-bottom: 5%;
    margin: 2%;
  }
  .carousel .switchLeft {
    color: white;
    font-weight: bold;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: #03989E;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
    position: absolute;
    left: 30px;
    
      }
  .carousel .switchRight {
    color: white;
    font-weight: bold;
    width: 45px;
    line-height: 250px;
    font-size: 25px;
    text-align: center;
    background-color: #03989E;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
    position: absolute;
    right: -50px;
    margin-right: 60px;
  }
  .carouselbox {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-right: none;
    margin-left: 4%;
  }
  .carouselbox img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: #03989E;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    /* margin: 15px; */
  }
  .carouselbox img:hover {
    transform: scale(1.4);
    z-index: 5;
  }

  .carouselbox1 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-right: none;
    margin-left: 4%;
  }
  .carouselbox1 img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: #03989E;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    /* margin: 15px; */
  }
  .carouselbox1 img:hover {
    transform: scale(1.4);
    z-index: 5;
  }

  .carouselbox2 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-right: none;
    margin-left: 4%;
  }
  .carouselbox2 img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: #03989E;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    /* margin: 15px; */
  }
  .carouselbox2 img:hover {
    transform: scale(1.4);
    z-index: 5;
  }

  .carouselbox3 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-right: none;
    margin-left: 4%;
  }
  .carouselbox3 img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: #03989E;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    /* margin: 15px; */
  }
  .carouselbox3 img:hover {
    transform: scale(1.4);
    z-index: 5;
  }

  .carouselbox4 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-right: none;
    margin-left: 4%;
  }
  .carouselbox4 img {
    min-width: 147px;
    max-width: 147px;
    height: 200px;
    background-size: cover;
    background-color: #03989E;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
    /* margin: 15px; */
  }
  .carouselbox4 img:hover {
    transform: scale(1.4);
    z-index: 5;
  }
 /* Home section */
 .home {
     margin-left: 50px;
     margin-right: 50px;
     background-color:rgb(75, 75, 77);
    
     background-position: center top;
     background-size:cover;
     font-size: medium;
     color: #03989E;
 }
 .header-text{
     margin-top: 30px;
     background-color: rgb(75, 75, 77);
 }
 .myP {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .navTrigger {
     display: none;
 }
 .nav {
     padding-top: 20px;
     padding-bottom: 20px;
     -webkit-transition: all 0.4s ease;
     transition: all 0.4s ease;
 }


/*******************************************Search bar styling  *********************************************************/
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    
    
}
#clearButton{
    margin-top: 10px;
    font-size: 30px;
    color: whitesmoke;
    background-color: rgb(243, 59, 59);
    margin-left: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
}
#movieClearButton{
    margin-top: 10px;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(243, 59, 59);
    margin-left: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.search-button-container {
    margin-top: 35px
}
#inputValue {
    width: 70vw;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
   color: #495057;
   background-color: whitesmoke;
   /*background-clip: padding-box; */
   border: 1px solid #ced4da;
   border-radius: .25rem;
}
/*SUBMIT BUTTON STYLEING  */
#search {  
   color: whitesmoke;
   background-color: dodgerblue;
   outline: none;  /* remove otline when button is hovered over */
   min-height: 38px;
   font-weight: 400;
   text-align: center;
   cursor: pointer;
   padding: .375rem .75rem;
   font-size: 2rem;
   font-weight: 400;
   line-height: 1.5;
   border-radius:25px;
   margin-left: 2px;
}

section {
    display: flex;
    width: 100%;
   
    overflow-x: auto;
}
section .form-group{
    margin:15px;
}

section img {
    width: 250px;
    transition: 250ms all; /* animation spead*/
    margin-left: 7px;
    border-radius: 10px;

}

img:hover {       /* adds animation to img when hovered over */
    margin-left:0 40px;
    transform: scale(1.2);
    cursor: pointer;
    border: 5px solid yel;
}

/****modal*****/
.content {
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882');
    border: 2px solid rgb(5, 5, 5);
   
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;
    
}
.content h4 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.content p {
    margin-left: 10px;
    font-size: 20px;
}

.footer-basic {
    padding:40px 0;
    background-color:#03989e;
    color: white;
  }
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  .footer-basic li {
    padding:0 10px;
  }
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  .footer-basic ul a:hover {
    opacity:1;
  }
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:0;
  }

/****************************************************************************************************/
 /* Media qurey section */
 @media screen and (min-width: 768px) and (max-width: 1024px) {
     .container {
         margin: 0;
     }
 }
 @media screen and (max-width:768px) {
     .navTrigger {
         display: block;
     }
     .nav div.logo {
         margin-left: 15px;
     }
     .nav div.main_list {
         width: 100%;
         height: 0;
         overflow: hidden;
     }
     .nav div.show_list {
         height: auto;
         display: none;
     }
     .nav div.main_list ul {
         flex-direction: column;
         width: 100%;
         height: 100vh;
         right: 0;
         left: 0;
         bottom: 0;
         background-color: #111;
         /*same background color of navbar*/
         background-position: center top;
     }
     .nav div.main_list ul li {
         width: 100%;
         text-align: right;
     }
     .nav div.main_list ul li a {
         text-align: center;
         width: 100%;
         font-size: 3rem;
         padding: 20px;
     }
     .nav div.media_button {
         display: block;
     }
 }
 /* Animation */
 .navTrigger {
     cursor: pointer;
     width: 30px;
     height: 25px;
     margin: auto;
     position: absolute;
     right: 30px;
     top: 0;
     bottom: 0;
 }
 .navTrigger i {
     background-color: #fff;
     border-radius: 2px;
     content: '';
     display: block;
     width: 100%;
     height: 4px;
 }
 .navTrigger i:nth-child(1) {
     -webkit-animation: outT 0.8s backwards;
     animation: outT 0.8s backwards;
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
 }
 .navTrigger i:nth-child(2) {
     margin: 5px 0;
     -webkit-animation: outM 0.8s backwards;
     animation: outM 0.8s backwards;
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
 }
 .navTrigger i:nth-child(3) {
     -webkit-animation: outBtm 0.8s backwards;
     animation: outBtm 0.8s backwards;
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
 }
 .navTrigger.active i:nth-child(1) {
     -webkit-animation: inT 0.8s forwards;
     animation: inT 0.8s forwards;
 }
 .navTrigger.active i:nth-child(2) {
     -webkit-animation: inM 0.8s forwards;
     animation: inM 0.8s forwards;
 }
 .navTrigger.active i:nth-child(3) {
     -webkit-animation: inBtm 0.8s forwards;
     animation: inBtm 0.8s forwards;
 }
 @-webkit-keyframes inM {
     50% {
         -webkit-transform: rotate(0deg);
     }
     100% {
         -webkit-transform: rotate(45deg);
     }
 }
 @keyframes inM {
     50% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(45deg);
     }
 }
 @-webkit-keyframes outM {
     50% {
         -webkit-transform: rotate(0deg);
     }
     100% {
         -webkit-transform: rotate(45deg);
     }
 }
 @keyframes outM {
     50% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(45deg);
     }
 }
 @-webkit-keyframes inT {
     0% {
         -webkit-transform: translateY(0px) rotate(0deg);
     }
     50% {
         -webkit-transform: translateY(9px) rotate(0deg);
     }
     100% {
         -webkit-transform: translateY(9px) rotate(135deg);
     }
 }
 @keyframes inT {
     0% {
         transform: translateY(0px) rotate(0deg);
     }
     50% {
         transform: translateY(9px) rotate(0deg);
     }
     100% {
         transform: translateY(9px) rotate(135deg);
     }
 }
 @-webkit-keyframes outT {
     0% {
         -webkit-transform: translateY(0px) rotate(0deg);
     }
     50% {
         -webkit-transform: translateY(9px) rotate(0deg);
     }
     100% {
         -webkit-transform: translateY(9px) rotate(135deg);
     }
 }
 @keyframes outT {
     0% {
         transform: translateY(0px) rotate(0deg);
     }
     50% {
         transform: translateY(9px) rotate(0deg);
     }
     100% {
         transform: translateY(9px) rotate(135deg);
     }
 }
 @-webkit-keyframes inBtm {
     0% {
         -webkit-transform: translateY(0px) rotate(0deg);
     }
     50% {
         -webkit-transform: translateY(-9px) rotate(0deg);
     }
     100% {
         -webkit-transform: translateY(-9px) rotate(135deg);
     }
 }
 @keyframes inBtm {
     0% {
         transform: translateY(0px) rotate(0deg);
     }
     50% {
         transform: translateY(-9px) rotate(0deg);
     }
     100% {
         transform: translateY(-9px) rotate(135deg);
     }
 }
 @-webkit-keyframes outBtm {
     0% {
         -webkit-transform: translateY(0px) rotate(0deg);
     }
     50% {
         -webkit-transform: translateY(-9px) rotate(0deg);
     }
     100% {
         -webkit-transform: translateY(-9px) rotate(135deg);
     }
 }
 @keyframes outBtm {
     0% {
         transform: translateY(0px) rotate(0deg);
     }
     50% {
         transform: translateY(-9px) rotate(0deg);
     }
     100% {
         transform: translateY(-9px) rotate(135deg);
     }
 }
 .affix {
     padding: 0;
     background-color: #111;
 }
 .myH2 {
     text-align:center;
     font-size: 4rem;
     margin-top: 250px;
     font-size: 70px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
 }
 .myP {
     text-align: justify;
     padding-left:15%;
     padding-right:15%;
     font-size: 20px;
 }
 @media all and (max-width:700px){
     .myP {
         padding:2%;
     }
 }