body{
    background-image: url('https://cdn.wallpapersafari.com/57/35/39DWRt.jpg');
    background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
}